@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

@media only screen and (min-width:1000px) {
  h1 {
    font-size:3vw;
    font-weight:300;
  }
}

@media only screen and (max-width:1000px) and (min-width:800px) {
  h1 {
    font-size:4vw;
    font-weight:300;
  }
}

@media only screen and (max-width:800px) and (min-width:500px) {
  h1 {
    font-size:5vw;
    font-weight:300;
  }
}

@media only screen and (max-width:500px) {
  h1 {
    font-size:8vw;
    font-weight:300;
  }
}

a {
  text-decoration: none;
  color: black;
}


input {
  border:none;
  width:79%;
  font-size:22px;
  padding: 10px 20px;  
  outline: none;
  position: absolute;
  background-color: transparent;
  bottom:1%;
  left: 0%;
  
}

ul {
  padding:0;
  margin-top: 30px;
}

ul li {
  width:100%;
  list-style-type: none;
  background:#ccc;
  color:#666;
  margin-bottom:1px;
  padding: 10px 20px;
  margin-left: -15px;
  font-size:22px;
  border-radius:3px;
}

.makeBigger {
  width:110%;
  margin-left: -30px;
}

.makeRed {
  background: #FF6666;
}

.red {
  -webkit-animation: makeRed .5s;
  -webkit-animation-fill-mode: forwards;
}
 
@-webkit-keyframes makeRed {
     0%   {background-color: #eee;}
     50%  {background-color: #F7D1D1;}
     100% {background-color: #eee;}
}


.green {
  -webkit-animation: makeGreen .4s;
  -webkit-animation-fill-mode: forwards;
}
 
@-webkit-keyframes makeGreen {
     0%   {background-color: #eee;}
     50%  {background-color: #D5FFCE;}
     100% {background-color: #eee;}
}


.completed {
  text-decoration:line-through;
  color:#FF6666;
}


#add_todo{
  margin-top: 5%;
  float: left;
  background:#FF6666;
  color:#662929;
  font-size:16px;
  border:none;
  padding:10px 20px;
  letter-spacing:2px;
  box-shadow:0 2px 0 0 #662929;
  border-radius:4px;
  text-align: center;
}

/* Wobble Horizontal */

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: .7s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  }


@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.left { 
  float: left; 
}


.right { 
  float: right;
}

.icon {
  position: absolute;
  width: 35px;
  top: 20%;
  right:5%;
  }

.group-header {
  position: relative;
  background:#eee;
  border:none;
  width:100%;
  padding: 24px 20px;  
  margin-left: -15px;
}


[data-type="heart"] {
  margin-right: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-type="trash"] {
  margin-right: -18px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-type="heart"]:hover, [data-type="heart"]:focus, [data-type="heart"]:active {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

 
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.click-icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


@-webkit-keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}

@keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}


.fadeIn {
  -webkit-animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
     0%   {opacity: 0;}
     100% {opacity: 1;}
}


.float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: float;
    -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
}


@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}


#firstBubble {
  position: absolute;
  width: 85%;
  left: -27%;
  top:2%;
}

#secondBubble {
  margin-right: 5%;
  position: absolute;
  width: 16%;
  left:2.9%;
  top: 23%;
}

#thirdBubble {
  margin-right: 1%;
  position: absolute;
  width: 16%;
  left:2%;
  top: 12%;
}

#fourthBubble {
  position: absolute;
  width: 18%;
  left: 6.5%;
  top: 65%;
}

@media only screen and (max-width:1100px) {

  #firstBubble {
    width: 80%;
    margin-top: 2%;
    margin-left: 35%;
  }

  #secondBubble {
    left:2%;
  }

  #thirdBubble {
  left:3%;
  } 
}

@media only screen and (max-width:1000px) {

  #firstBubble {
    width: 80%;
    margin-top: 5%;
    margin-left: 35%;
  }

   #secondBubble {
    left:2.5%;
  }

}

@media only screen and (max-width:800px) {
 
  #firstBubble {
    width: 80%;
    margin-top: 11%;
    margin-left: 35%;
  }

   #secondBubble {
    left:2.5%;
  }

  #thirdBubble {
    left:4%;
    margin-top: 2%;
  } 
}

@media only screen and (max-width:500px) {
 
  #firstBubble {
    visibility: hidden;
  }

   #secondBubble {
    visibility: hidden;
  }

   #thirdBubble {
    visibility: hidden;
  }
}

#x {
  width: 2%;
  margin-left: 95%;
  margin-top: 2%;
  float: right;
  position: absolute;
}


.rotate:hover {
   display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: rotate .8s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

@-webkit-keyframes rotate {
     0%   {-webkit-transform: rotateZ(0deg);}
     50%   {-webkit-transform: rotateZ(80deg);}
     51%   {-webkit-transform: rotateZ(81deg);}
     100% {-webkit-transform: rotateZ(360deg);}
}




